
/*
Color scheme created by DSORDER. - SUPERNOVA
retrieved from color.adobe.com
*/
:root{
    --prp: #6D5DA6;
    --dprp: #4A4873;
    --yell: #F2C572;
    --pea: #F2A679;
    --sal: #F29188;
}

body {
    /*background-color: #F2F4EF; */
    background: linear-gradient(to right, var(--pea), var(--yell), var(--sal));
    font-family: 'Bebas Neue';
    margin: 0;
    padding: 0;
    
    }


.bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }


h1{
    color: black;
}

.header-links > a {
    text-decoration: none;

}

.menu-button {
    color: black;
    text-decoration: none;
    font-weight: 600;
           
    }

.flex-container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    padding: 0px 4px 0px 4px;
    background-image: linear-gradient(to left, var(--prp), var(--sal));
}

.flex-main-content {
    flex: 1;
    width: 99vw;
    height: auto;
}

.flex-header-menu {
    display: none;
}

.flex-side-menu {
    display: none;
}
.flex-footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
}



/*Tablets and phones in landscape - applied if screen size is wider than 601px and less than 1195px wide */
@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container {
        flex-direction: row;
    }
    .flex-header-menu {
        display: none;
    }
    .flex-side-menu {
        display: grid;
        grid-auto-rows: min-content;
        justify-items: center;
        align-items: start;
        gap: 3vh;
        text-align: center;
    }
    .flex-header-menu, .flex-footer-menu, .flex-side-menu {
        flex-shrink: 0;
        padding: 0px 4px 0px 4px;
        background-image: linear-gradient(to top, var(--prp), var(--sal));
    }
    .flex-side-menu span {
        display: block;
    }
    .flex-footer-menu {
        display: none;
    }
    
}

/*Desktop - applied if screen size is wider than 1194px */
@media only screen and (min-width: 1195px) {
    .flex-header-menu {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 2vh 5vw;
    }
    .header-name {
        text-align: left;
    }
    .header-links {
        justify-self: left;
    }
    .header-links a {
        padding: 0 10px;
        color: var(--dprp);
        white-space: nowrap;
    }
    .header-links a:hover {
        border-bottom: 3px solid var(--dprp);
    }
    .flex-side-menu {
        display: none;
    }
    .flex-footer-menu {
        display: none;
    }
    .main-container-menu {
        width: 75wv;
    }
}

.header-name, .header-links {
    font-size: larger;
    text-decoration: none;
}


.search-bar {
    background-color: var(--sal);
    border-radius: 10px;
    border: 0px;
}
