:root{
    --prp: #6D5DA6;
    --dprp: #4A4873;
    --yell: #F2C572;
    --pea: #F2A679;
    --sal: #F29188;
}
.flex-main-content {
    display: flex;
    justify-content: center;
    
    padding: 20px 10px;
}
.centered-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.now-play {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.now-play > h2 {
    flex: 1;
}

.now-play > img {
    
    width: 10vw;
    height: 10vw;
    
}
.player, .music-feed, .recommended-feed {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    border: 3px solid var(--prp);
    padding: 20px;
    border-radius: 20px;
    
}
.interact {
    flex: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    
}
.interact > a{
    text-decoration: none;
    align-self: end;
    font-size: large;
    padding: 10px;

}
.interact a:hover{
     
    border-bottom: 1px solid var(--dprp);
}
.altiar {
    display: flex;
    flex-direction: Row;
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
    
}
.altiar > h2 {
    align-self: flex-start;
    padding: 10px;
}
.altiar > img {
    width: 10vw;
    height: 10vw;
}
.music-feed {
    overflow: scroll;
    height: 85vh;
}
.playinf {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
.albumcov {
    margin: 25px;
    height: 10vw;
    width: 10vw;
    background-image:URL("https://source.unsplash.com/Qrspubmx6kE/640x360");
    background-size: cover;
    background-position: center;
}
.plabut {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.prevson, .pause, .nextson {
    padding: 25px;
    opacity: 0.8;
    transition: opacity 0.2s;
}
.slider {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek-slid, .volume-slid {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: var(--dprp);
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}