:root{
    --prp: #6D5DA6;
    --dprp: #4A4873;
    --yell: #F2C572;
    --pea: #F2A679;
    --sal: #F29188;
}
.flex-main-content {
    display: flex;
    justify-content: center;
    
    padding: 20px 10px;
}
.centered-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.now-play {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.now-play > h2 {
    flex: 1;
}

.now-play > img {
    
    width: 15vw;
    height: 15vw;
    
}
.player, .music-feed, .recommended-feed {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    border: 3px solid var(--prp);
    padding: 20px;
    border-radius: 20px;
    
}
.interact {
    flex: 1;
    justify-content: flex-end;
    
}
.interact > a{
    text-decoration: none;

}
.interact a:hover{
     
    border-bottom: 1px solid var(--dprp);
}