:root{
    --prp: #6D5DA6;
    --dprp: #4A4873;
    --yell: #F2C572;
    --pea: #F2A679;
    --sal: #F29188;
}
/*https://color.adobe.com/search?q=Synthwave&t=term*/

.flex-main-content {
    display: flex;
    justify-content: center;
    
    padding: 20px 10px;
}
.centered-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.now-play {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.now-play > h2 {
    flex: 1;
}

.now-play > img {
    
    width: 10vw;
    height: 10vw;
    
}
.player, .music-feed, .recommended-feed, .login-form, .aboutme, .likeson, .discover_songs, .discoverartists {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    border: 3px solid var(--prp);
    padding: 20px;
    border-radius: 20px;
    padding-top: 10px;
    color: black;
    scrollbar-color: var(--dprp);
    
}
.interact {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 3px;
    
    
    
}
.interact > a{
    text-decoration: none;
    align-self: end;
    font-size: large;
    padding: 10px;
    color: black;

}
.interact a:hover{
     
    border-bottom: 4px solid var(--dprp);
}
.altiar {
    display: flex;
    flex-direction: Row;
    
    padding: 10px 0px 10px 0px;
    
}
.altiar > h2 {
    align-self: flex-start;
    padding: 10px;
}
.altiar > img {
    width: 10vw;
    height: 10vw;
}
.music-feed {
    
    height: 85vh;
    padding-top: 10px;
}
.music-feed > h1{
    position: static;
    align-self: flex-start;
    
    
}
.musscrol {
    height: 85vh;
    padding-top: 30px;
    overflow: scroll;
}
.altiar > img:hover {
    border: 3px solid var(--prp);
}
.playinf {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
.albumcov {
    margin: 25px;
    height: 10vw;
    width: 10vw;
    flex-shrink: 0;
    
    background-size: cover;
    background-position: center;
}
.plabut {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.prevson, .pause, .nextson {
    padding: 25px;
    opacity: 0.8;
    transition: opacity 0.2s;
}
.slider {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek-slid, .volume-slid {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: var(--dprp);
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.seek-slid::-webkit-slider-thumb, .volume-slid::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--dprp);
    cursor: pointer;
    border-radius: 50%;
}
.seek-slid:hover, .volume-slid:hover {
    opacity: 1.0;
}
.seek-slid {
    width: 60%;
}
.volume-slid {
    width: 30%;
}
.time, .totduration {
    padding: 10px;
}
i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
}
i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
}

.playlispopup{
    display: none;
}

.show {
    display: block;
}

#registration-confirm {
    align-self: flex-start;
    justify-self: normal;
}