.libcon {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
}

.playlik {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.playlik > i {
    justify-self: flex-end;
}
.playlists {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    border: 3px solid var(--prp) ;
    padding: 20px;
    border-radius: 20px;
    height: 65vh;
    padding-top: 10px;
    overflow: scroll;
    
}

.plalist {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    height: fit-content;
    width: fit-content;
    padding: 10px;
    
    
    
}

.abtiar {
    display: flex;
    flex-direction: Row;
    
    padding: 5px 0px 5px 0px;
    
}
.abtiar > h2 {
    align-self: flex-start;
    padding: 5px;
}
.abtiar > img {
    width: 5vw;
    height: 5vw;
}

.abtiar > img:hover {
    border: 3px solid var(--prp);
}

.fa-solid, .fa-plus{
    justify-self: flex-end;
    
    
    flex: 1;
}

.likeson {
    flex: 1;
    margin: 0 10px;
    border: 3px solid var(--prp);
    padding: 20px;
    border-radius: 20px;
    padding-top: 10px;
    height: 65vh;

}
.lib-player {
    margin: 0 10px;
    border: 3px solid var(--prp);
    padding: 20px;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 10px;
    
}
.playinf {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    
}

.plabut {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slider {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sname, .aname {
    flex-shrink: 0;
    padding-bottom: 10px;
}