:root{
    --prp: #6D5DA6;
    --dprp: #4A4873;
    --yell: #F2C572;
    --pea: #F2A679;
    --sal: #F29188;
}

.form-group{
    display: block;
    margin-bottom: 0.5rem;
    padding: 10px;

}

.form-group input[type="text"],
.form-group textarea {
    width: 85%;
    padding: 0.5rem;
    border: 3px solid var(--dprp);
    border-radius: 4px;
    background: transparent;


}

.btn{
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition:background-color 0.2s ease;
    font-family:'Bebas Neue';
}

.btn-primary{
    background-color: var(--sal);
    color: var(--prp);
}

.btn-primary:hover{
    background-color: var(--prp);
    color: var(--sal);

}
.submit-song-form{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
#upfo {
    padding: 20px;    
}
#songuplab{
    width: 50%;
    padding: 10px;
    background-color: var(--sal);
    color: var(--prp);
    cursor: pointer;
    border: 4px solid var(--dprp);
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

#songuplab:hover{
    background-color: var(--sal);
    color: var(--prp);
}

#audio_file{
    display:none;
}



.uploaded_songs{
    align-self: flex-start;
    border: 1px solid black;
    padding: 10px;

}
.profcon {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px;
}

.submit-song-form, .uploaded-songs {
    flex: 1; 
    height: 85vh;
    padding-top: 30px;
    overflow: scroll;
    margin: 0 10px;
    border: 3px solid var(--prp);
   
    border-radius: 20px;
}

.submit-song-form, .uploaded-songs {
    
    padding: 10px;
    
}
.card{
    margin: 0 10px;
    border: 3px solid var(--prp);
    padding: 5px;
    border-radius: 20px;
}